<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<th:block th:fragment="headerFragment(param1)">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-Info" th:href="@{/home}">
                DDD
            </a>

            <a role=" button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/home}">
                    Home
                </a>
                <a class="navbar-item" th:href="@{/profile}">
                    Profile
                </a>
                <a class="navbar-item" th:href="@{/test}">
                    Test
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <!-- 아래 방법이 정상적인지는 모르겠으나 일단 이렇게 사용할게요 -->
                        <div th:if="${#authorization.authentication == null}">
                            <a class="button is-primary" th:href="@{/register}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" th:href="@{/login}">
                                Log in
                            </a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <button class="button is-white">
                                <span sec:authentication="name">사용자</span>님 안녕하세요 :D
                            </button>
                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a th:href="@{/profile}" class="dropdown-item">
                                            프로필 보기
                                        </a>
                                        <a th:href="@{/profile}" class="dropdown-item">
                                            계정 수정하기
                                        </a>
                                        <hr class="dropdown-divider">
                                        <a th:href="@{/logout}" class="dropdown-item">
                                            로그아웃
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</th:block>
</html>
