<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>DDD Juniors</title>
        <!-- CSS 로드 시작 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/709e3c70f4.js" crossorigin="anonymous"></script>
        <!-- CSS 로드 끝 -->
    </head>
</th:block>
</html>
